<div class="row">
  <div class="col-xs-12">
    <div class="form-group pull-right">
      <button md-raised-button routerLink="/game/settings">
        <md-icon>settings</md-icon>
      </button>
    </div>
  </div>
</div>

<!--<div class="row">
  <div class="col-xs-12 col-md-4 form-group">
    <button md-raised-button (click)="test1()" class="form-control">Get Gists (do this first)</button>
  </div>
  <div class="col-xs-12 col-md-4 form-group">
    <button md-raised-button (click)="test2()" class="form-control">Display Next Question</button>
  </div>
  <div class="col-xs-12 col-md-4 form-group">
    <button md-raised-button (click)="getAnswers()" class="form-control">Get Answers</button>
  </div>
</div>-->

<div class="row form-group">
  <div class="col-xs-12 col-md-6 text-center">
    <div>
      <label class="text-success h2">Answers Correct:</label>
    </div>
    <div>
      {{answersCorrect}}
    </div>
  </div>

  <div class="col-xs-12 col-md-6 text-center">
    <div>
      <label class="text-danger h2">Answers Incorrect:</label>
    </div>
    <div>
      {{answersIncorrect}}
    </div>
  </div>
</div>

<div id="answers-area" class="row" *ngIf="answers?.length > 0">
  <div class="col-xs-12 col-md-6 form-group" *ngFor="let answer of answers">
    <button class="form-control" md-raised-button (click)="selectAnswer(answer)">{{answer}}</button>
  </div>
  <div class="col-xs-12 form-group">
    <button class="form-control" md-raised-button (click)="selectAnswer('skip')">Skip</button>
  </div>
</div>

<div id="game-area">
  <!-- debug fields: -->
  <!--language: {{question?.language}} <br /> gists gotten: {{gistsGotten}}-->
  <app-game-code [question]="question"></app-game-code>
</div>
